.tagcloud {position:relative; width:400px; height:450px; margin: 20px auto 0; background:white}
.tagcloud a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color:red; font-weight:bold; text-decoration:none; padding: 3px 6px; }
.tagcloud a:hover {border: 1px solid #eee; background: white; }